extends layout

block content
    form(action='', class="form")
    input(type='text', placeholder='Add a question', class="inputfield")
    input(type='text', placeholder='Add answer 1', class="inputfield")
    input(type='text', placeholder='Add answer 1', class="inputfield")
    button(class="submit", type='submit') Send