extends layout

block content
  div(class="container")
    h1(class="title--live") What is your favourite food ...
    h2 First one to turn black wins!
      
    div(class="spaghetti spaghetti--live") 
      h4(class="spaghetti--choice") Spaghetti
    div(class="lasagne lasagne--live")
      h4(class="lasagne--choice") Lasagne
