extends layout

block content
  div(class="container")
    h1(class="title--live") ...
    div(class="spaghetti spaghetti--live") 
      p Spaghetti
    div(class="lasagne lasagne--live")
      p Lasagne
