extends layout

block content
  div(class="container")
    h1(class="title--live") You voted for ...
    h3 First one to turn black wins!
    div(class="spaghetti spaghetti--live") 
      p Spaghetti
    div(class="lasagne lasagne--live")
      p Lasagne
