extends layout

block content
  div(class="container")
    h1(class="title--live") You voted for ...
    h2 First one to turn black wins!
      h3(class="title--spa") Wins spaghetti: 
      h3(class="title--las") Wins lasagne: 
    div(class="spaghetti spaghetti--live") 
      p Spaghetti
    div(class="lasagne lasagne--live")
      p Lasagne
