body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(0, 60, 255, 0.103);
}

a {
  color: #00B7FF;
}

h4{
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.container{
  display:grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 5fr;
  grid-column-gap: 5em;
  grid-row-gap: 3em;

}
h1{
  grid-row: 1 / span 1;
  grid-column: 1 / span 4;
  align-self: center;
  justify-self: center;
  font-size: 8vh;
  margin:0;
}
h2{
  grid-row: 2 / span 1;
  grid-column: 1 / span 4;
  border-bottom:0.1em solid black;
  justify-self: center;
  
}
.spaghetti, .lasagne{
background-color: hsl(168, 100%, 80%);
border-bottom:0.7em solid black;
box-shadow: 5px 4px rgba(201, 201, 201, 0.14);
}

h3{
  text-transform: uppercase;
}


.spaghetti{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  
}
.lasagne{
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

@media screen and (max-width: 750px) {
h1{
  font-size: 6vh;

}
.container{
  display:block;
  
}
.spaghetti{
  min-height: 100px;
  
}
.lasagne{
  min-height: 100px;
}
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  width: 100%;
  background-color:hsl(168, 100%, 70%);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  
}

